.inicio{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;

}



footer{
    align-self: flex-end;
    width: 100%;
    color: white;
    position: absolute;
}

.carousel {
    position: absolute;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
    
}

.carousel-caption{
    bottom: 500px;
    position: relative;
    right: 15%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;

    @media(max-width:768px){

        bottom: 410px;
    }

    
    
    

    .parrafo{
        width: 100%;
      font-size: 12px;
      font-family: 'Lato';
      text-align: center;

       
      


    }
     
}

.carousel-caption  h5{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: 'Lato';
    text-align: left;
    font-weight: bold;
   
}

.carousel-caption p{
    width: 619px;
    /* margin: auto; */
    font-size: 19px;
    line-height: 1.9;
    text-align: left;
    font-family: 'Lato';
    padding-top: 25px;
    font-weight: normal;
    
    @media(max-width: 768px){
      
        width: 500px;
        font-size: 16px;

    }
   
}

.separator-neon{
    width: 72px;
    height: 5px;
    position: absolute;
    -ms-grid-column-align: center;
    /* justify-self: center; */
    background: #ffffff;
    border-radius: 20px;
    /* padding-top: 4px;*/

 
   @media(max-width: 600px){

      margin-top: 9%;

   }

     @media(max-width:425px) and (min-width: 320px){
        margin-top: 14%;
     }
}

.button{
    text-align: left;

}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 3px solid white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: Lato;
    width: 210px;
    font-weight: bold;

    

    
}

.my-4{

    margin-bottom: 5.5rem !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 68px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #ffffff; */
    background-clip: padding-box;
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 0.7rem;
    border: 0.5px solid white;

}



    .img-slide{
         
      
        @media(max-width: 768px) and (min-width: 320px){

            object-fit: cover;
        }
      
    
    }

    .carousel-indicators{
        top: 79%;

        @media (max-width: 320px){
            top: 72%;
        }
    }

    