.portafolio{

    margin: 0px;
    padding: 0px;
    background-image: url("../assets/images/Backgrounds/portafolio.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

#container7{

    .left{
        margin-left: -35px;
    }
    .right{

        margin-right: -35px;
    }

    @media(max-width: 768px){
        margin-top: 80px;
        margin-bottom: 80px;
    }

    @media(max-width: 375px){

        margin-left: -22px;
        
    }

    @media(max-width: 320px){

        margin-top: 70px;
        margin-left: -52px;
    }
}