/* Media breackpoints */
$extra-small: 'max-width: 575.98px';
$small: "min-width: 576px) and (max-width: 767.98px";
$medium: 'min-width: 768px) and (max-width: 991.98px';
$large: 'min-width: 992px) and (max-width: 1199.98px';
$extra-large: 'min-width: 1200px';

/* $extra-small: 575.98px;
$pre-small: 576px;
$small: 767.98px;
$pre-medium: 768px; 
$medium: 991.98px;
$pre-large: 992px; 
$large: 1199.98px; 
$extra-large: 1200px; */ 

/* el navbar colapsa en 991px */