/* Fonts Assets */
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Montserrat:300,400,500,600,700&display=swap");
@font-face {
  font-family: "Futura Extrabold";
  src: url("../assets/fonts/FuturaStd-ExtraBold.otf");
}

@font-face {
  font-family: "Futura Bold";
  src: url("../assets/fonts/FuturaStd-Bold.otf");
}

@font-face {
  font-family: "Futura Book";
  src: url("../assets/fonts/FuturaStd-Book.otf");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("../assets/fonts/FuturaStd-Heavy.otf");
}

/* Google fonts */
/* Media breackpoints */
/* $extra-small: 575.98px;
$pre-small: 576px;
$small: 767.98px;
$pre-medium: 768px; 
$medium: 991.98px;
$pre-large: 992px; 
$large: 1199.98px; 
$extra-large: 1200px; */
/* el navbar colapsa en 991px */
.text-futura-book {
  font-family: 'Futura Book' !important;
}

.text-futura-heavy {
  font-family: 'Futura Heavy' !important;
}

.card {
  border: none;
}

.banner {
  height: 100vh;
  min-width: 100%;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.banner .logo {
  height: 200px;
  width: auto;
  position: absolute;
  top: 3%;
  left: 5%;
}

.banner .logo .logo-img {
  height: 100%;
  width: auto;
}

.banner .banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  float: inline-end;
  height: 100%;
  width: 100%;
}

.banner .text-content {
  position: absolute;
  left: 3%;
  bottom: 20%;
}

.banner .text-content h3 {
  font-family: 'Futura Bold';
  color: white;
  font-size: 5.5rem;
  line-height: .9;
}

.banner .text-content h5 {
  font-family: 'Futura Heavy';
  color: white;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}

.banner .text-content a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: .3rem;
  border: white solid 2px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 1.6rem;
}

.banner .text-content a:hover {
  text-decoration: none;
  background: white;
  color: #2c2c2c;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.orange-circle {
  background: #dd9a1f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 5rem;
}

.orange-circle i {
  font-size: 4rem;
  color: white;
}

.row-counter {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 1.5rem 0;
}

.row-counter .count {
  font-family: 'Futura Bold';
  font-size: 4.8em;
  color: white;
}

.row-counter .count .underline {
  width: 45%;
  height: 10px;
  background: #dd9a1f;
}

.row-counter .count .text-counter {
  font-family: 'Futura Book';
  text-align: left;
}

.next-events .hour {
  background: #dd9a1f;
  color: white;
}

.next-events .round-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
}

.next-events .round-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.next-events .description h3 {
  font-family: 'Futura Bold';
  font-size: 1.4rem;
}

.next-events .description h5 {
  font-family: 'Futura Heavy';
  font-size: 1rem;
}

.next-events .description p {
  font-family: 'Futura Book';
  font-size: .75rem;
}

@media screen and (max-width: 575.98px) {
  .text-content h3 {
    font-size: 3rem !important;
  }
  .text-content h5 {
    font-size: 1.5rem !important;
  }
  .row-counter {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1.5rem 0;
  }
  .row-counter .count {
    font-family: 'Futura Bold';
    font-size: 2em;
    color: white;
  }
  .row-counter .count .underline {
    width: 45%;
    height: 6px;
    background: #dd9a1f;
  }
  .row-counter .count .text-counter {
    font-family: 'Futura Book';
    text-align: left;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */